@use 'sass:meta';

@use '../index' as * with (
  $breakpoints: (
    's': 640px,
    'm': 768px,
    // 'l': 1024px,
  ),
);

// .banana {
//   @include variants('responsive' 'dark' 'hover' 'group-hover') {
//     color: gold;
//   }
// }

// body[season=spring],
// body[season=summer] {
//   .banana {
//     @include variants('responsive' 'hover' 'group-hover') {
//       color: gold;
//     }
//   }
// }

// .banana {
//   @include variants('responsive' 'hover' 'group-hover') {
//     color: gold;
//   }
// }

// @include variants('responsive' 'hover' 'group-hover', (base: 'banana', parent: 'body[season=winter]')) {
//   color: brown;
// }


$colors: (
  'blue': (
    100: #e5f1fd,
    200: #b0d6f9,
    300: #7bbaf6,
    400: #469ff2,
    500: #1183ee,
    600: #0d66b9,
    700: #094984,
    800: #062c4f,
    900: #020f1a,
  )
);

// .text {
//   @include options($colors, 'hover') using ($value) {
//     color: $value;
//   }
// }

// body[theme=default] {
//   .text {
//     @include options($colors, 'hover') using ($value) {
//       color: $value;
//     }
//   }
// }

$config: (
  'text': (
    'blue': (
      100: #e5f1fd,
      200: #b0d6f9,
      300: #7bbaf6,
      400: #469ff2,
      500: #1183ee,
      600: #0d66b9,
      700: #094984,
      800: #062c4f,
      900: #020f1a,
    )
  )
);

// @include options($config, 'hover') using ($value) {
//   color: $value;
// }

// @include options($config, 'hover', (parent: 'body[theme=default]')) using ($value) {
//   color: $value;
// }
