$variants: 'responsive' !default;

$options: (
  'block': block,
  'inline-block': inline-block,
  'inline': inline,
  'flex': flex,
  'inline-flex': inline-flex,
  'grid': grid,
  'inline-grid': inline-grid,
  'hidden': none,
) !default;

@forward './display.create' with (
  $default-variants: $variants,
  $default-options: $options,
);
