$variants: 'responsive' !default;

$direction: (
  'row': row,
  'row-reverse': row-reverse,
  'col': column,
  'col-reverse': column-reverse,
) !default;

$wrap: (
  'nowrap': nowrap,
  'wrap': wrap,
  'wrap-reverse': wrap-reverse,
) !default;

$flex: (
  'initial': 0 1 auto,
  '1': 1 1 0%,
  'auto': 1 1 auto,
  'none': none,
) !default;

$grow: (
  'grow': 1,
  'grow-0': 0,
) !default;

$shrink: (
  'shrink': 1,
  'shrink-0': 0,
) !default;

$items: (
  'stretch': stretch,
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'baseline': baseline,
) !default;

$content: (
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'between': space-between,
  'around': space-around,
) !default;

$self: (
  'auto': auto,
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'stretch': stretch,
) !default;

$justify: (
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'between': space-between,
  'around': space-around,
) !default;

$order: (
  'first': -9999,
  'last': 9999,
  'none': 0,
  '1': 1,
  '2': 2,
  '3': 3,
  '4': 4,
  '5': 5,
  '6': 6,
  '7': 7,
  '8': 8,
  '9': 9,
) !default;

@forward './flex.create' with (
  $default-variants: $variants,
  $default-direction: $direction,
  $default-wrap: $wrap,
  $default-flex: $flex,
  $default-grow: $grow,
  $default-shrink: $shrink,
  $default-items: $items,
  $default-content: $content,
  $default-self: $self,
  $default-justify: $justify,
  $default-order: $order,
);
