@use '../snug' as *;
@use 'sass:list';
@use 'sass:map';

$default-variants: () !default;
$default-options: () !default;

@mixin create($variants: (), $options: ()) {
  $variants: list.join($default-variants, $variants, space);
  $options: map.merge($default-options, $options);
  $margin: $options;

  // Add auto to the positive margin classes
  @if list.length($margin) > 0 {
    $margin: map.merge((
      'auto': auto
    ), $margin);
  }

  @include variants($variants) using ($props...) {

    // ██████╗  █████╗ ██████╗ ██████╗ ██╗███╗   ██╗ ██████╗
    // ██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝
    // ██████╔╝███████║██║  ██║██║  ██║██║██╔██╗ ██║██║  ███╗
    // ██╔═══╝ ██╔══██║██║  ██║██║  ██║██║██║╚██╗██║██║   ██║
    // ██║     ██║  ██║██████╔╝██████╔╝██║██║ ╚████║╚██████╔╝
    // ╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝

    .p {
      @include options($options, $props...) using ($value) {
        padding: $value;
      }
    }

    .px {
      @include options($options, $props...) using ($value) {
        padding-right: $value;
        padding-left: $value;
      }
    }

    .py {
      @include options($options, $props...) using ($value) {
        padding-bottom: $value;
        padding-top: $value;
      }
    }

    .pt {
      @include options($options, $props...) using ($value) {
        padding-top: $value;
      }
    }

    .pr {
      @include options($options, $props...) using ($value) {
        padding-right: $value;
      }
    }

    .pb {
      @include options($options, $props...) using ($value) {
        padding-bottom: $value;
      }
    }

    .pl {
      @include options($options, $props...) using ($value) {
        padding-left: $value;
      }
    }


    // ███╗   ███╗ █████╗ ██████╗  ██████╗ ██╗███╗   ██╗
    // ████╗ ████║██╔══██╗██╔══██╗██╔════╝ ██║████╗  ██║
    // ██╔████╔██║███████║██████╔╝██║  ███╗██║██╔██╗ ██║
    // ██║╚██╔╝██║██╔══██║██╔══██╗██║   ██║██║██║╚██╗██║
    // ██║ ╚═╝ ██║██║  ██║██║  ██║╚██████╔╝██║██║ ╚████║
    // ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝

    .m {
      @include options($margin, $props...) using ($value) {
        margin: $value;
      }
    }

    .mx {
      @include options($margin, $props...) using ($value) {
        margin-right: $value;
        margin-left: $value;
      }
    }

    .my {
      @include options($margin, $props...) using ($value) {
        margin-bottom: $value;
        margin-top: $value;
      }
    }

    .mt {
      @include options($margin, $props...) using ($value) {
        margin-top: $value;
      }
    }

    .mr {
      @include options($margin, $props...) using ($value) {
        margin-right: $value;
      }
    }

    .mb {
      @include options($margin, $props...) using ($value) {
        margin-bottom: $value;
      }
    }

    .-ml {
      @include options($margin, $props...) using ($value) {
        margin-left: $value;
      }
    }


    //       ███╗   ███╗ █████╗ ██████╗  ██████╗ ██╗███╗   ██╗
    //       ████╗ ████║██╔══██╗██╔══██╗██╔════╝ ██║████╗  ██║
    // █████╗██╔████╔██║███████║██████╔╝██║  ███╗██║██╔██╗ ██║
    // ╚════╝██║╚██╔╝██║██╔══██║██╔══██╗██║   ██║██║██║╚██╗██║
    //       ██║ ╚═╝ ██║██║  ██║██║  ██║╚██████╔╝██║██║ ╚████║
    //       ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝

    .-m {
      @include options($options, $props...) using ($value) {
        margin: -$value;
      }
    }

    .-mx {
      @include options($options, $props...) using ($value) {
        margin-right: -$value;
        margin-left: -$value;
      }
    }

    .-my {
      @include options($options, $props...) using ($value) {
        margin-bottom: -$value;
        margin-top: -$value;
      }
    }

    .-mt {
      @include options($options, $props...) using ($value) {
        margin-top: -$value;
      }
    }

    .-mr {
      @include options($options, $props...) using ($value) {
        margin-right: -$value;
      }
    }

    .-mb {
      @include options($options, $props...) using ($value) {
        margin-bottom: -$value;
      }
    }

    .-ml {
      @include options($options, $props...) using ($value) {
        margin-left: -$value;
      }
    }
  }
}
